@import "tailwindcss";

html{
  margin-left: 15px ;
  margin-right: 15px;
  /* font-family:Arial, Helvetica, sans-serif; */
  background-color: black;
  /* color: #1a73e8; */
  color: white;
  /* font-size: 7em; */
}
.name-deco{
  /* font-size: 3rem; */
  
  background: -webkit-linear-gradient(left, #1a73e8, rgba(255, 255, 255, 0.81));
  -webkit-background-clip: text;
  
  -webkit-text-fill-color: transparent;
}
.hero-buttons{
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  gap: 1rem;
}