@import "tailwindcss";

html{
  margin-left: 15px ;
  margin-right: 15px;
  /* font-family:Arial, Helvetica, sans-serif; */
  background-color: black;
  /* color: #1a73e8; */
  color: white;
  /* font-size: 7em; */
}
.name-deco{
  /* font-size: 3rem; */
  
  background: -webkit-linear-gradient(left, #1a73e8, rgba(255, 255, 255, 0.81));
  -webkit-background-clip: text;
  
  -webkit-text-fill-color: transparent;
}
.hero-buttons{
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  gap: 1rem;
}
/* stats header */
.stats-header{
  font-size: 2rem;
  color: #1a73e8;
}
.hero-stat-heading{
  font-size: .8rem;
}
/* About */
.about-intro{
  color:#1a73e8;
}
.about-xxx{
  padding: 1em;
  border: solid #1a73e8 0.1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* headings used through out the site */
.page-heading{
  display: flex;
  justify-content: center;
}
.heading-description{
  display: inline-flex;
  gap: .5rem;
  /* align-items: center; */
  border-radius: 2rem;
  border-color: #1a73e8;
  color: #1a73e8;
  border-width: 2px;
  padding: .25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
}
/* styling for form input */
.edtInput{
  background-color: #272727;
  border-radius: 15px;
  border-color: #808080;
  /* color: #1a73e8; */
  border-width: 2px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.875rem;
  height: 30px;

}
.edtInput:focus{
  border: solid 2px #1a73e8;
  outline: none;
  
  
}
.lblForm{
  font-size: 0.875rem;
}
.lblnEdt{
  display: flex;
  flex-direction: column;
  gap: 2;
}